<!DOCTYPE html>
<html>
<head>
    <title>Webcam Stream with Hume API</title>
    <style>
        .container {
            display: flex;
        }
        .webcam, .results {
            width: 50%;
        }
        .results {
            border: 1px solid red; /* Temporary, for debugging */
            background-color: lightgrey; /* Temporary, for debugging */
            overflow-y: auto;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="webcam">
            <!-- Webcam Stream -->
            <img src="/video_feed" alt="Webcam Stream Not Available">
        </div>
        <div class="results" id="results">
            <!-- Hume API results will be displayed here -->
        </div>
    </div>

    <!-- Socket.IO JavaScript client -->
    <script src="https://cdn.socket.io/4.7.4/socket.io.min.js" integrity="sha384-Gr6Lu2Ajx28mzwyVR8CFkULdCU7kMlZ9UthllibdOSo6qAiN+yXNHqtgdTvFXMT4" crossorigin="anonymous"></script>
    <script type="text/javascript">
        var socket = io.connect('http://' + document.domain + ':' + location.port);

        socket.on('new_data', function(data) {
            console.log("Received data from Hume API:", data); // For debugging
            var resultString = JSON.stringify(data.result, null, 2); // Format the JSON data
            document.getElementById('results').textContent = resultString; // Update the results div
        });
    </script>
</body>
</html>
